{% for idea in ideas %}
    <div class="ideias">
        <img src="{{idea.image}}" alt="Imagem de Curso de {{idea.title}}">

        <div class="content">
            <h3>{{idea.title}}</h3>
            <p>{{idea.category}}</p>
            <div class="description">
                {{idea.description}}
            </div>
            <a href="{{idea.link}}" target="_black">Ir para ídeia</a>
            
        </div>
    <img src="https://image.flaticon.com/icons/svg/121/121113.svg"  onclick="excluir(`{{ idea.id }}`)" alt="Excluir"  id="excluir" >
   
        
    </div>
{%endfor%}